h1 {
    width: 200px;
    height: 45px;
    background-color: rgb(0, 102, 255);
    font-family: fantasy;
    color: white;
  }

#link1:hover {
    width: 110px;
    height: 25px;
    background-color: rgb(0, 102, 255);
    transition: background-color .5s;
    font-family: fantasy;
    color: white; 
  }

  
#link2:hover {
    width: 190px;
    height: 25px;
    background-color: rgb(0, 102, 255);
    transition: background-color .5s;
    font-family: fantasy;
    color: white; 
  }

